# List
- Insertion order is preserved
- Duplicate objects are allowed
- Heterogeneous objects are allowed
- List are Dynamic
- Here index will play very important role
- It supports both -ve and +v indexing
- It is mutable, we can change it

In [9]:
# Creation of List Objects
# We can create empty list object as follows... 
list=[] 
print(list) 
print(type(list)) # we created a empty list

# If we know elements already then we can create list as follows list=[] 
list = [10,20,30,40] 
print(list) 
print(type(list)) # values inside the list

# With dynamic input: 
list=(input("Enter List:"))   
print(list) 
print(type(list)) 


# With split() function: 
s="saifulla is a good boy !!!" 
l=s.split() 
print(l) 
print(type(l))

[]
<class 'list'>
[10, 20, 30, 40]
<class 'list'>

Enter List: 10,20,40

10,20,40
<class 'str'>
['saifulla', 'is', 'a', 'good', 'boy', '!!!']
<class 'list'>

# Accessing elements of List: 
We can access elements of the list either by using index or by using slice operator
1. By using index
   - List follows zero based index. i.e., index of first element is zero
   - List supports both Positive and Negative indexes
   - Positive index meant for Left to Right
   - Negative index meant for Right to Left
2.  By using slice operator
# Syntax
list2= list1[start:stop:step] 
# start
- It indicates the index where slice has to start default value is 0
# stop
- It indicates the index where slice has to end default value is max allowed index of list i.e., length of the list
# step
- Increment value

In [12]:
# Example using index
list=[10,20,30,40] 
print(list[0])   # starts from 0th index
print(list[-1])  # starts from -1 index
print(list[-4])  # starts from reverse -4 index
print(list[10])  # it prints out of range

10
40
10

IndexError: list index out of range

In [13]:
# Example 2
list = [10,20,[30,40]] 
print(list[2])  
print(list[2][1])

[30, 40]
40

In [16]:
# Example using slicing 
l = [10,20,30,40,50,60] 
print(l[::]) 
print(l[::2]) # Multiple by 2
print(l[::-1]) # Reverse of a list

[10, 20, 30, 40, 50, 60]
[10, 30, 50]
[60, 50, 40, 30, 20, 10]

In [17]:
# another example
n=[1,2,3,4,5,6,7,8,9,10] 
print(n[2:7:2])    
print(n[4::2])     
print(n[3:7])     
print(n[8:2:-2])    
print(n[4:100])

[3, 5, 7]
[5, 7, 9]
[4, 5, 6, 7]
[9, 7, 5]
[5, 6, 7, 8, 9, 10]

# List vs mutability: 
Once we creates a List object, we can modify its content. Hence List objects are mutable.

In [18]:
# Example
n=[10,20,30,40] 
print(n)  
n[1]=777 
print(n)

[10, 20, 30, 40]
[10, 777, 30, 40]

#  Traversing the elements of List
The sequential access of each element in the list is called traversal

In [19]:
#  By using while loop: 
n=[0,1,2,3,4,5,6,7,8,9,10] 
i=0 
while i<len(n): 
    print(n[i]) 
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [20]:
#  By using for loop: 
n=[0,1,2,3,4,5,6,7,8,9,10] 
for n1 in n: 
    print(n1)

0
1
2
3
4
5
6
7
8
9
10

#  Important functions of List 
difference between function and method
- In Python you can use both these terms interchangeably
# Function: 
- Function by default considered as method also 
- If a function is declaring outside a class is called as function
# Method : 
- If you are declaring a function inside a class is called as a method 
- In other words, if you are calling any function with object reference is called as method

In [25]:
#  To get information about list
#1. len(): 
# It returns the number of elements present in the list. 
n=[10,20,30,40] 
print(len(n))
# 2. count(): 
# It returns the number of occurrences of specified item in the list. 
n=[1,2,2,2,2,3,3] 
print(n.count(1))
print(n.count(2))
print(n.count(3))
print(n.count(4))
# 3. index() function: 
# It returns the index of first occurrence of the specified item.  
n=[1,2,2,2,2,3,3] 
print(n.index(1))   
print(n.index(2))   
print(n.index(3))

4
1
4
2
0
0
1
5

In [27]:
# Checking the targets
l = [10,20,30,40,10,20,10,10] 
target = int(input('Enter value to search : ')) 
if target in l: 
    print(target,'available and its first occurrence is at ',l.index(target)) 
else: 
    print(target,' is not available')

Enter value to search :  20

20 available and its first occurrence is at  1

#  Manipulating Elements of List: 
# 1. append() function: 
- We can use append() function to add item at the end of the list. 
- By using this append function, we always add an element at last position.
# 2. insert() function: 
- It is used to insert item at specified index position.
# 3. extend() function: 
- To add all items of one list to another list, we use extend() method.
# 4. remove() function: 
- We can use this function to remove specified item from the list. 
- If the item present multiple times then only first occurrence will be removed.
# 5. pop() function: 
- It removes and returns the last element of the list. 
- This is only function which manipulates list and returns some element.

In [28]:
# Example for append() function
list=[] 
list.append("A") 
list.append("B") 
list.append("C") 
print(list)

['A', 'B', 'C']

In [30]:
# Example to add all elements to list up to 100 which are divisible by 10. 
list=[] 
for i in range(101): 
    if i%10==0: 
        list.append(i) 
print(list) 


# Simple way
list= [] 
for i in range(0,101,10): 
    list.append(i) 
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [32]:
# Example for insert() function
n=[1,2,3,4,5] 
n.insert(1,888) 
print(n)
n.insert(10,777) 
n.insert(-10,999) 
print(n) 
print(n.index(777))
print(n.index(999))

[1, 888, 2, 3, 4, 5]
[999, 1, 888, 2, 3, 4, 5, 777]
7
0

In [35]:
# Example for extend() function
order1=["Chicken","Mutton","Fish"] 
order2=["RC","KF","FO"] 
order1.extend(order2) # It extend order2 in order1
print(order1)  
print(order2)


# Another way
order1=["Chicken","Mutton","Fish"] 
order2=["RC","KF","FO"] 
order3 = order1 + order2 
print(order1)  
print(order2)  
print(order3)

['Chicken', 'Mutton', 'Fish', 'RC', 'KF', 'FO']
['RC', 'KF', 'FO']
['Chicken', 'Mutton', 'Fish']
['RC', 'KF', 'FO']
['Chicken', 'Mutton', 'Fish', 'RC', 'KF', 'FO']

In [36]:
# Example for remove() function
n=[10,20,10,30] 
n.remove(10) # It removes the value where it can find 10
print(n)

[20, 10, 30]

In [37]:
# another example
l1= [10,20,30,40,50,60,70] 
x = int(input('Enter the element to be removed : ')) 
if x in l1: 
    l1.remove(x) 
    print('Element removed Successfully ') 
    print(l1) 
else: 
    print('Specified element is not available ')

Enter the element to be removed :  20

Element removed Successfully
[10, 30, 40, 50, 60, 70]

In [38]:
# Example for pop() function
n=[10,20,30,40] 
print(n.pop())  # here it removes the last element of the list
print(n.pop())  
print(n)

40
30
[10, 20]

# Ordering elements of List: 
# 1. reverse(): 
- We can use to reverse() order of elements of list
# 2. sort():
-  In list by default insertion order is preserved. If you want to sort the elements of list according to default natural sorting order then we should go for sort() method.
-  For numbers (default natural sorting order is Ascending Order)
-  For Strings (default natural sorting order is Alphabetical Order)

In [39]:
# Example for reverse()
n=[10,20,30,40] 
n.reverse() 
print(n)

[40, 30, 20, 10]

In [41]:
# Example for sort()
# For numbers
n=[20,5,15,10,0] 
n.sort() 
print(n) 
# For strings
s=["Dog","Banana","Cat","Apple"] 
s.sort() 
print(s)

[0, 5, 10, 15, 20]
['Apple', 'Banana', 'Cat', 'Dog']