# SET DATATYPE:
If we want to represent a group of unique values as a single entity then we should go for set
# Key features of Set Data Type:
1. Duplicates are not allowed.
2. Insertion order is not preserved. But we can sort the elements.
3. Indexing and slicing not allowed for the set.
4. Heterogeneous elements are allowed.
5. Set objects are mutable i.e., once we creates set object we can perform any changes in that object based on our requirement.
6. We can represent set elements within curly braces and with comma separation.
7. We can apply mathematical operations like union,intersection,difference etc., on set objects.

In [3]:
# Creation of Set Objects
s = {10,20,50}
print(type(s))
print(s)

<class 'set'>
{10, 20, 50}

#  Creation of set objects using set() function
Wecan create set objects by using set() function.
# Syntax
 s=set(any sequence)

In [7]:
# Example
l = [10,20,30,40,10,20,10]
s=set(l)
print(s) # In the set duplicate values are not allowed

# Another Example
s=set(range(5))
print(s)

# using strings
s = set('saifulla')
print(s)

# Another Example
s = set('aabbaababab')
print(s) # It prints only 1 a and 1 b because set does not allow duplicate values

{40, 10, 20, 30}
{0, 1, 2, 3, 4}
{'i', 'a', 's', 'f', 'l', 'u'}
{'b', 'a'}

#  Important functions / methods of set
1. add()
2. update()
3. copy()
4. pop()
5. remove()
6. discard()
7. clear()

# 1. add() 
It Adds item x to the set

In [31]:
# 1.add()
s={10,20,30}
s.add(40)
print(s)
# It will add strings also
s={10,20,30}
s.add('saif');
print(s)

{40, 10, 20, 30}
{10, 'saif', 20, 30}

# 2. update(x,y,z):
- This method is used to add multiple items to the set.
- Arguments are not individual elements and these are Iterable objects like String, List, range etc.
- All elements present in the given Iterable objects will be added to the set

In [13]:
# 2.update
s={10,20,30}
s.update('saif');
print(s)
# Another example
s={10,20,30}
l=[40,50,60,10]
s.update(l,range(5))
print(s)

{'i', 'a', 10, 's', 'f', 20, 30}
{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

In [15]:
# Example
s =set()
s.update(range(1,10,2),range(0,10,2)) # Did not understand
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# 3. copy():
Returns copy of the set. It is cloned object (Backup copy)

In [16]:
# Example
s={10,20,30}
s1=s.copy()
print(s1)
print(s)

{10, 20, 30}
{10, 20, 30}

# 4. pop():
Itremoves and returns some random element from the set

In [19]:
# Example
s={40,10,30,20}
print(s)
print(s.pop())
print(s.pop())
print(s.pop())
print(s)
print(s.pop())
print(s)

{40, 10, 20, 30}
40
10
20
{30}
30
set()

# 5. remove(x):
- It removes specified element from the set.
- If the specified element not present in the set, then we will get KeyError

In [20]:
# Example
s={40,10,30,20}
s.remove(30)
print(s)

{40, 10, 20}

# 6. discard(x):
- It removes the specified element from the set.
- If the specified element not present in the set then we won't get any error

In [21]:
# Example
s={10,20,30}
s.discard(10)
print(s)
s.discard(50)
print(s)

{20, 30}
{20, 30}

# 7.clear():
To remove all elements from the Set

In [22]:
# Example
s={10,20,30}
print(s)
s.clear()
print(s)

{10, 20, 30}
set()

#  Mathematical operations on the Set
1.union():
- x.union(y)
- We can use this function to return all elements present in both x and y sets.
- We can perform union operation in two ways:
1. x.union(y)
- by calling through union() method.
2. x|y
- by using '|' operator.
- This operation returns all elements present in both sets x and y (without duplicate elements).

In [23]:
# Example
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

#  intersection():
- Wecan perform intersection operation in two ways:
1. x.intersection(y)
- by calling through intersection() method.
2. x&y
- by using '&' operator.
- This operation returns common elements present in both sets x and y

In [25]:
# Example
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

# difference():
- We can perform difference operation in two ways:
1. x.difference(y)
- by calling through difference() method.
2. x-y
- by using '-' operator.
- This operation returns the elements present in x but not in y

In [26]:
# Example
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)
print(y-x)

{10, 20}
{10, 20}
{50, 60}

# symmetric_difference():
- We can perform symmetric difference operation in two ways:
1. x.symmetric_difference(y)
- by calling through symmetric_difference method.
2. x^y
- by using '^' operator.
- This operation returns elements present in either x or y but not in both

In [27]:
# Example
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

# Membership operators:
- Membership operators are used to check whether a particular object is available or not.
- For any sequence, we can apply membership operators.
- Following are the membership operators:
1. in
2. not in

In [28]:
# Example
s=set("saifulla")
print(s)
print('a' in s)
print('d' in s)

{'i', 'a', 's', 'f', 'l', 'u'}
True
False

# 6. Set Comprehension
Set comprehension is possible.
# Syntax:
 s = {expression for x in sequence condition}

In [30]:
# Example
s = {x*x for x in range(6)}
print(s)                           # Did not understand these concept

# Example 2
s={2**x for x in range(2,10,2)}
print(s)                          # Did not understand these concept

{0, 1, 4, 9, 16, 25}
{16, 256, 64, 4}