# Tuples
Tuple is similar to list except that it is immutable
- once we creates Tuple object, we cannot perform any changes in that object
- If our data is fixed and never changes then we should go for Tuple. 
- Insertion Order is preserved. 
- Duplicates are allowed
- Heterogeneous objects are allowed. 
- We can preserve insertion order and we can differentiate duplicate objects by using index. Hence index will play very important role in Tuple also. 
- Tuple support both +ve and -ve index. +ve index means forward direction(from left to right) and -ve index means backward direction(from right to left)

In [3]:
# Creation of Tuple
s = ()
print(s)
print(type(s))

# Example
t=(10,20,30,40) 
print(t) 
print(type(t))

()
<class 'tuple'>
(10, 20, 30, 40)
<class 'tuple'>

In [5]:
# another example and it comes under tuple
t = (10,) 
print(t) 
print(type(t))

t = 10      # It is not a tuple 
print(t)
print(type(t))

(10,)
<class 'tuple'>
10
<class 'int'>

# By using tuple() function: 
If you have any sequence (i.e., string, list, range etc.,) which can be easily converted into a tuple by using tuple() function.

In [6]:
# Example
list=[10,20,30] 
t=tuple(list) 
print(t) 
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [7]:
# using range in tuple
t=tuple(range(10,20,2)) 
print(t) 
print(type(t))

(10, 12, 14, 16, 18)
<class 'tuple'>

In [8]:
# using strings in tuple
t = tuple('saifulla') 
print(t) 
print(type(t))

('s', 'a', 'i', 'f', 'u', 'l', 'l', 'a')
<class 'tuple'>

# Accessing elements of tuple: 
- We can access elements of a tuple either by using index or by using slice operator.

In [10]:
# By using index
t=(10,20,30,40,50,60) 
print(t[0])  
print(t[-1])  
print(t[100]) # here it prints out of range

10
60

In [13]:
# using slice operator
t=(10,20,30,40,50,60) 
print(t[2:5])  
print(t[2:100])  
print(t[::2]) 


# Another example
t= tuple('sohail') 
print(t[0]) 
print(t[1:5:1]) 
print(t[-2:-5:-1])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)
s
('o', 'h', 'a', 'i')
('i', 'a', 'h')

#  Mathematical operators for tuple 
Here  We can apply + and * operators for tuple

In [15]:
# Using Concatenation Operator(+)
t1=(10,20,30) 
t2=(40,50,60) 
t3=t1+t2 
print(t3)

t1 = 10,20,30,40 
t2 = 10,20,30,40 
t3 = t1 + t2      # hetre list and tuple allow duplicates, so you will get all the elements 
print(t3)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 10, 20, 30, 40)

In [16]:
# Using Multiplication operator(*)
t1=(10,20,30) 
t2=t1*3 
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

# Important functions/Methods of Tuple
1. len(): 
- It is an in-built function of Python, if you provide any sequence (i.e., strings,list,tuple etc.,), in that how many elements are there that will be returned this function. 
- It is used to return number of elements present in the tuple.
2. count():
- To return number of occurrences of given element in the tuple.
3. index(): 
- It returns index of first occurrence of the given element. If the specified element is not available then we will get ValueError.
4. sorted(): 
- It is used to sort elements based on default natural sorting order (Ascending order).
5. min() and max() functions
- These functions return minimum and maximum values according to default natural sorting order. 
- These functions will works on tuple with respect to homogeneous elements only.
6. cmp(): 
- It compares the elements of both tuples. 
- If both tuples are equal then returns 0. 
- If the first tuple is less than second tuple then it returns -1. 
- If the first tuple is greater than second tuple then it returns +1.

In [18]:
# Example for len()
t=(10,20,30,40) 
print(len(t))

# Example for count()
t=(10,20,10,10,20) 
print(t.count(10))

4
3

In [20]:
# Example for index()
t=(10,20,10,10,20) 
print(t.index(10))    
print(t.index(30))

0

ValueError: tuple.index(x): x not in tuple

In [22]:
# Example for sorted()
t =(10,30,40,20) 
print(sorted(t)) 

# Another example
t=(40,10,30,20) 
print(id(t)) 
print(type(t)) 
t=sorted(t) 
print(id(t)) 
print(type(t)) 
print(t)

[10, 20, 30, 40]
1883926081712
<class 'tuple'>
1883925775424
<class 'list'>
[10, 20, 30, 40]

In [23]:
# Different example
t=(40,10,30,20) 
t1=sorted(t) 
print(type(t1)) 
print(t1) 
print(type(t)) 
print(t)

<class 'list'>
[10, 20, 30, 40]
<class 'tuple'>
(40, 10, 30, 20)

In [24]:
# Example for  min() and max() functions
t=(40,10,30,20) 
print(min(t))   
print(max(t))

10
40

In [25]:
# Example for cmp()
t1=(10,20,30) 
t2=(40,50,60) 
t3=(10,20,30) 
print(t1==t2) 
print(t1==t3) 
print(t2==t3) 
print(t1<t2)

False
True
False
True

In [26]:
# Another example
t1=(10,20,30) 
t2=(5,50,60) 
print(t1<t2)

False

# Tuple Packing and Unpacking 
1. Tuple packing: 
- We can create a tuple by packing a group of variables
2. Tuple unpacking : 
- Tuple unpacking is the reverse process of tuple packing. 
- We can unpack a tuple and assign its values to different variables.

In [28]:
# Example for tuple packing
a=10 
b=20 
c=30 
d=40 
t=a,b,c,d 
print(t) # Here a,b,c,d are packed into a tuple t. This is nothing but tuple packing.

(10, 20, 30, 40)

In [30]:
# Example for tuple unpacking
t=(10,20,30,40) 
a,b,c,d=t 
print("a=",a,"b=",b,"c=",c,"d=",d)
# It is applicable for any sequence (i.e., string, list, set etc.,) concept also

a= 10 b= 20 c= 30 d= 40

In [31]:
# List Unpacking: 
t=[10,20,30,40] 
a,b,c,d=t 
print("a=",a,"b=",b,"c=",c,"d=",d)

a= 10 b= 20 c= 30 d= 40

In [32]:
# String Unpacking:  
t='abcd' 
a,b,c,d=t 
print("a=",a,"b=",b,"c=",c,"d=",d)

a= a b= b c= c d= d

In [33]:
# List Packing:  
a = 10 
b = 20 
c = 30 
d = 40 
t =[a,b,c,d] 
print(type(t)) 
print(t)

<class 'list'>
[10, 20, 30, 40]

In [34]:
# String Packing:  
a = 10 
b = 20 
c = 30 
d = 40 
t ='a,b,c,d' 
print(type(t)) 
print(t)

<class 'str'>
a,b,c,d

#  Tuple Comprehension 
Tuple Comprehension is not supported by Python. 
- t= ( x**2 for x in range(1,6)) 
- Here we are not getting tuple object and we are getting generator object.